{
  "presets": [
    "react", "stage-0"
  ],
  "env": {
    "development": {
      "presets":["react-hmre"]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "transform-export-extensions",
    "transform-async-to-generator",
    "transform-async-generator-functions",
  ]
}
